/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
    font-family: 'Manjari', sans-serif;
    line-height: 1.6;
    color: #3a3a3a;
    background-color: rgb(248, 247, 247);
}


h1,
h2 {
    font-family: 'Lato', sans-serif;
    color: #000;
}

h2,
h3 {
    margin-top: 0;
    font-size: 1em;
}

h3 {
    margin-top: 10px;
}

p {
    font-family: 'Lato', sans-serif;
    color: #3a3a3a;
    font-size: 0.85em;
    font-size: .95em;
}

a {
    text-decoration: none;
    color: #000;

}

#portfolio h2,
#contact h2,
#skills h2 {
    text-transform: uppercase;

}

#skills h2 {
    color: #fff;
}




/* ================================= 
  Base Layout Styles
==================================== */


.container {
    margin: auto;
}

.main-header {
	padding-top: .5em;
    padding-bottom: .5em;
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    margin: auto;
}

.name {
    font-size: 1.30em;
    margin-top: 20px;
    text-align: center;
}
 
.name-footer {
    font-size: 1.15em;
    margin: 0;
}

.main-nav {
    margin-top: 20px;
    text-align: center;
    padding: 0;
}

.name a,
.main-nav a {
	display: inline-block;
	text-align: center;
    padding: 0 5px;
}

.main-nav a {
	font-size: 1em;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}

.main-nav a:hover{
	font-size: 0.7em;
    color: #09bada;
}

.main-nav li {
    display: inline-block;
    background-color: #FFF;
    margin-top: 5px;
}


.banner {
    width: 90%;
    margin: 50px auto;
    padding-top: 70px;
    text-align: center;
}


.profile {
    margin-top: 50px;
    max-width: 50%;
    padding: 20px 0;
}


.intro {
    font-family: 'Lato', sans-serif;
    color: #8a8a8a;
    font-size: 1.1em;
    text-align: center;
}

#portfolio {
    background: #fff;
    text-align: center;
    margin: 50px auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.items {
    margin: 10px auto;
    padding: 10px 5px;
    text-align: center;
}

.items-image {
    width: 290px;
    height: 170px;
    transition: none;
}

.items-info {
    font-size: 0.9em;
    text-align: center;
    color: #3a3a3a;
    margin: auto;
    width: 80%;
}

#skills {
    background-color: #09bada;
    text-align: center;
    margin: 0 auto 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.skills ul {
    padding: 0;
    margin: auto;
}


.skills li {
    display: block;
    background-color: #09bada;
    margin-top: 5px;
    color: #fff;
}



#contact {
    text-align: center;
    margin: 0 20px 20px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.details,
.contact-info {
        max-width: 90%;
}

.contact-info {
    font-family: 'Lato', sans-serif;
    color: #8a8a8a;
    font-size: 1em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    margin: auto;

}

.details{
    font-family: 'Lato', sans-serif;
    color: #8a8a8a;
    font-size: 1em;
    text-align: center;
    padding-top: 5px;
    margin: auto;

}

.main-footer {
    border-top: #b6b5b5 solid 1px;
    margin: auto;

}

.name-footer {
    font-size: 0.75em;
    margin-top: 15px;
}

.name-footer {
    font-size: 0.9em;
    margin-top: 5px;
    float:left;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
}

.footer-nav {
    text-align: right;
    display: none;
}

.footer-nav li {
    display: inline-block;
    margin-left: 15px;
}

.footer-nav a {
	font-size: .5em;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}

.footer-nav a:hover{
	font-size: .5em;
    color: #09bada;
}

.back {
    font-size: 0.8em;
    margin-top: 15px;
    text-transform: uppercase;
    float: right;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    text-align: right;
}


/* ================================= 
  Media Querie 768px
==================================== */

@media (min-width: 768px) {

    body {
        padding-top: 100px;

    }

    .main-header {
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 1000;
    }
    
    .container,
    .banner {
        width: 728px;
        margin: auto;
    }

    .banner {
        margin-top: 30px;
    }

    .name,
    .main-nav {
        text-align: center;
    }

    .name {
        margin-top: 40px;
        font-size: 1.5em;
    }

    .main-nav li,
    .footer-nav li {
        display: inline-block;
        background-color: transparent;
        margin-left: 15px;
    }

    .main-nav {
        margin-top: 10px;
    }

    .main-nav a {
        font-size: 1.1em;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-weight: bolder;
        text-align: center;
        padding: 5px 15px 10px;
    }

    .main-nav a:hover {
        font-size: 1.1em;
        color: #09bada;
    }

    .profile {
        float: right;
        max-width: 40%;
        margin-top: 5px;
        padding-right: 10px;
    }

    .intro {
        font-size: 1.1em;
        max-width: 52%;
        float:left;
        text-align: left;
        padding-left: 10px;
    }

    #portfolio {
        background: #fff;
        text-align: center;
        margin: 50px auto 0;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .items {
        width: 50%;
    }

    .items-image {
        width: 300px;
        height: 170px;
        transition: none;
    }

    .contact-info {
        max-width: 450px;
    }

    .main-footer {
        border-top: #b6b5b5 solid 1px;
        max-width: 768px;
        margin: auto;
    }

    .name-footer,
    .items {
        float: left;
    }

    .name-footer {
        margin-top: 20px;
        padding: 0;
        font-family: 'Lato', sans-serif;
        font-weight: bolder;
    }
    
    .footer-nav {
        text-align: right;
        display: inline-block;
        float: right;
    }

    .footer-nav a {
        font-size: 0.8em;
        text-transform: uppercase;
        float: right;
        font-family: 'Lato', sans-serif;
        font-weight: bolder;
        text-align: right;

    }

    .footer-nav a:hover{
        font-size: .8em;
        color: #09bada;
    }
    
    .back {
        display: none;
    }

    /* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}


/* ================================= 
  Media Querie 1024px
==================================== */

@media (min-width: 1024px) {

    .container,
    .banner {
        width: 968px;
        text-align: center;
        margin: auto;
	}

    .main-header {
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 1000;
    }
    
    .name,
    .name-footer,
    .items {
        float: left;
    }

    .name {
        margin-top: 20px;
        text-align: center;
        font-size: 1.5em;
        padding-left: 5px;
    }

    .main-nav {
        margin-top: 20px;
    }

    .main-nav a {
        font-size: 1em;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-weight: bolder;
        text-align: center;
        padding: 10px 15px;
    }

    .main-nav a:hover {
        font-size: 1em;
        color: #09bada;
    }

    .banner {
        margin-top: 40px;
        padding-top: 0;
    }

    .profile {
        float: right;
        max-width: 40%;
        margin-top: 0;
        padding-right: 20px;
    }

    .intro {
        font-size: 1.1em;
        width: 47%;
        float:left;
        text-align: left;
        padding-left: 10px;
    }


    #portfolio {
        text-align: center;
        width: 968px;
    }


    .items {
        width: 33.3333%;
        float: left;
    }


    #skills {
        text-align: center;
        width: 968px;
    }

    .footer-nav,
    .main-nav {
        float: right;
    }

    .main-nav li,
    .footer-nav li {
        display: inline-block;
        margin-left: 15px;
    }

    .main-footer {
        border-top: #b6b5b5 solid 1px;
        max-width: 968px;
        margin: auto;
    }
    
    .name-footer {
        margin-top: 20px;
        max-width: 40%;
    }

    .footer-nav {
        text-align: right;
        display: inline-block;
        float: right;
    }

    .footer-nav a {
        font-size: 0.5em;
        text-transform: uppercase;
        float: right;
        font-family: 'Lato', sans-serif;
        font-weight: bolder;
        text-align: right;

    }

    .footer-nav a:hover{
        font-size: 0.5em;
        color: #09bada;
    }

    .main-nav li,
    .footer-nav li {
        display: inline-block;
        margin-left: 15px;
    }

    .back {
        display: none;
    }



    /* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}


}