/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
    font-family: 'Manjari', sans-serif;
    line-height: 1.6;
    color: #3a3a3a;
    background-color: rgb(248, 247, 247);
}


h1,
h2 {
    font-family: 'Lato', sans-serif;
    color: #3a3a3a;
}

h2,
h3 {
    margin-top: 0;
    font-size: 1em;
}

h3 {
    margin-top: 10px;
}

p {
    font-family: 'Lato', sans-serif;
    color: #3a3a3a;
    font-size: 0.85em;
    font-size: .95em;
}

a {
    text-decoration: none;
    color: #000;

}

#portfolio h2 {
    text-transform: uppercase;

}

#contact h2 {
    text-transform: uppercase;

}


.intro {
    font-family: 'Lato', sans-serif;
    color: #8a8a8a;
    font-size: 1.1em;
    max-width: 45%;
    text-align: left;
    float:left;
}


.contact-info {
    font-family: 'Lato', sans-serif;
    color: #8a8a8a;
    font-size: 1em;
    max-width: 48%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    margin: auto;

}

.details{
    font-family: 'Lato', sans-serif;
    color: #8a8a8a;
    font-size: 1em;
    max-width: 48%;
    text-align: center;
    padding-top: 5px;
    margin: auto;

}


/* ================================= 
  Base Layout Styles
==================================== */

.name {
    font-size: 1.30em;
    margin: 0;
}

.name-footer {
    font-size: 1.15em;
    margin: 0;
}

.main-nav {
    margin-top: 5px;
}

.name a,
.main-nav a {
	display: inline-block;
	text-align: center;
    padding: 10px 5px;
}

.main-nav a {
	font-size: .7em;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}

.main-nav a:hover{
	font-size: .7em;
    color: #09bada;
}


.main-footer {
    border-top: #b6b5b5 solid 1px;

}

.name-footer {
    font-size: 0.75em;
    margin-top: 15px;
}

.name-footer,
.footer-nav a {
	display: inline-block;
	text-align: center;
    padding: 10px 5px;
}

.footer-nav a {
	font-size: .5em;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}

.footer-nav a:hover{
	font-size: .5em;
    color: #09bada;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}


.profile {
    text-align: right;
    float:right;
    max-width: 50%;
    padding: 20px 0;
}

#portfolio {
    background: #fff;
    text-align: center;
    margin: 50px 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.items {
    margin: 15px 10px;
    padding-top: 10px;
    max-width: 31%;
    text-align: center;
}

.items-image {
    width: 270px;
    height: 170px;
    transition: none;
  }

.items-info {
    font-size: .76em;
    text-align: center;
    color: #3a3a3a;
    margin: auto;
    max-width: 225px;
}

#contact {
    text-align: center;
    margin: 0 20px 20px;
    padding-top: 10px;
    padding-bottom: 50px;
}



/* ================================= 
  Media Queries
==================================== */

@media (min-width: 320px) {

    body {
        padding-top: 100px;

    }

    .main-header {
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 1000;
        margin: auto;
    }
    
    .container {
        width: 300px;
        margin: auto;
    }

    .banner {
        width: 90%;
        margin: 0 auto;
        padding-top: 70px;
        text-align: center;
    }



    .main-nav {
        margin-top: 20px;
        text-align: center;
        padding: 0;
    }

    .name {
        margin-top: 20px;
        text-align: center;
    }
    
    .main-nav li {
        display: block;
        background-color: #fff;
        margin-top: 5px;
    }

    .profile {
        text-align: center;
        max-width: 70%;
        margin-top: 50px;
        padding: 20px 0 5px;
        float: none;
    }

    .intro {
        max-width: 100%;
        text-align: center;
    }

    #portfolio {
        background: #fff;
        text-align: center;
        margin: 50px auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .name-footer,
    .items {
        float: left;
    }

    .items {
        max-width: 300px;
        margin: auto;
    }

    .items-image {
        width: 300px;
        height: 170px;
        transition: none;
    }

    .details,
    .contact-info {
        max-width: 90%;
    }


    .main-footer {
        border-top: #b6b5b5 solid 1px;
        max-width: 300px;
        margin: auto;
    }


    .name-footer {
        font-size: 0.9em;
        margin-top: 5px;
        float:left;
        font-family: 'Lato', sans-serif;
        font-weight: bolder;
    }
    
    .footer-nav {
        text-align: right;
        display: none;
    }

    .footer-nav li {
        display: inline-block;
        margin-left: 15px;
    }

    .back {
        font-size: 0.8em;
        margin-top: 15px;
        text-transform: uppercase;
        float: right;
        font-family: 'Lato', sans-serif;
        font-weight: bolder;
        text-align: right;
    }

    /* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
        clear: both;
	}

}



@media (min-width: 768px) {

    body {
        padding-top: 100px;

    }

    .main-header {
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 1000;
    }
    
    .container,
    .banner {
        width: 90%;
        margin: 0 auto;
    }

    .banner {
       padding-top: 70px;
    }

    .items {
        max-width: 50%;
        margin: auto;
        padding: 15px 15px;
    }

    .items-image {
        width: 300px;
        height: 170px;
        transition: none;
    }

    .name,
    .main-nav {
        text-align: center;
    }

    .name {
        margin-top: 20px;
    }


    .main-nav li,
    .footer-nav li {
        display: inline-block;
    }

    .profile {
        text-align: right;
        float: right;
        max-width: 50%;
        padding: 20px 0;
    }

    .intro {
        font-family: 'Lato', sans-serif;
        color: #8a8a8a;
        font-size: 1.1em;
        max-width: 45%;
        text-align: left;
        float: left;
    }

    .main-footer {
        border-top: #b6b5b5 solid 1px;
        max-width: 768px;
        margin: auto;
    }

    .name-footer,
    .items {
        float: left;
    }

    .name-footer {
        margin-top: 20px;
        padding: 0;
        font-family: 'Lato', sans-serif;
        font-weight: bolder;
    }
    
    .footer-nav {
        text-align: right;
        display: inline-block;
        float: right;
    }

    .footer-nav a {
        font-size: 0.8em;
        text-transform: uppercase;
        float: right;
        font-family: 'Lato', sans-serif;
        font-weight: bolder;
        text-align: right;

    }

    .footer-nav a:hover{
        font-size: .8em;
        color: #09bada;
    }
    

    .back {
        display: none;
    }

    /* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}


@media (min-width: 1024px) {

    .container,
    .banner {
        max-width: 1150px;
        text-align: center;
        margin: auto;
	}

    .items {
        width: 33%;
        float: left;

    }

    #portfolio {
        text-align: center;
    }


    .main-header {
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 1000;
    }
    

    .name,
    .name-footer,
    .items {
        float: left;
    }


    .items {
        max-width: 33%;
        margin: auto;
        padding: 15px 15px;
    }

    .items-image {
        width: 270px;
        height: 170px;
        transition: none;
    }

    .footer-nav,
    .main-nav {
        float: right;
    }

    .main-nav {
        margin-top: 20px;
    }

    .name-footer {
        margin-top: 20px;
    }

    .main-nav li,
    .footer-nav li {
        display: inline-block;
        margin-left: 15px;
    }

    /* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}


}