/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
    font-family: 'Manjari', sans-serif;
    line-height: 1.6;
    color: #3a3a3a;
    background-color: rgb(248, 247, 247);
}

p {
    font-size: .95em;
    margin-bottom: 1.5em;

}

h1,
h2 {
    font-family: 'Lato', sans-serif;
    color: #3a3a3a;
}

h2 {
    margin-top: 0;
    font-size: 1em;
}

a {
    text-decoration: none;

}

/* ================================= 
  Base Layout Styles
==================================== */

.name {
    font-size: 1.30em;
    margin: 0;
    padding-left: 40px;
}

.name-footer {
    font-size: 1.15em;
    margin: 0;
}

.main-nav {
	margin-top: 5px;
}

.name a,
.main-nav a {
	display: inline-block;
	text-align: center;
    padding: 10px 15px;
    text-transform: uppercase;
}

.main-nav a {
	font-size: .75em;
    color: #3a3a3a;
}

.main-nav a:hover{
	font-size: .75em;
    color: #09bada;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}

.intro {
    text-align: left;
    float:left;
    width: 60%;
    padding: 20px 40px 15px;
}

.profile {
    text-align: right;
    float:right;
    width: 40%;
    padding: 20px 15px;
}

.items {
    margin: 30px;
    padding: 60px 20px 60px 20px;
    max-width: 500px;
    text-align: center;
    background: #fff;
    border-bottom: 10px solid #fff;
}

.items-image {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border: 3px solid white;
    transition: none;
  }



/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

    body {
        padding-top: 100px;

    }

    .main-header {
        position: fixed;
        background: #fff;
        box-shadow: 0 1px 4px rgba(0,0,0,.4);
        width: 100%;
        top: 0;
        z-index: 1000;
    }
    
    .container,
    .banne {
        width: 90%;

    }

    .name,
    .name-footer,
    .items {
        float: left;
    }

    .items {
        width: 90%;

    }

    .main-nav,
    .footer-nav {
        float:right;
    }

    .main-nav li,
    .footer-nav li {
        display: inline-block;
        margin-left: 15px;
    }

    /* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}


@media (min-width: 1025px) {

    .container,
    .banner {
		width: 80%;
		max-width: 1150px;
	}

    .items {
        width: 33%;

    }


}